<html>
<head>
</head>

<body>

<div id="example-container">
  <!-- 输入框 -->
  <input v-model="message">
  <p>Message is : {{message}}</p>
  
  <!-- 多行文本 -->
  <span>Multiline message is:</span>
  <p >{{ message }}</p>
  </br>
  <textarea v-model="message" placeholder="add multiple lines"></textarea>
  
  <!-- 复选框 -->
  </br></br></br>
  
  <input type="checkbox" id="jack" value="Jack" v-model="checkedText">
  <label for="jack">Jack</label>
  <input type="checkbox" id="john" value="John" v-model="checkedText">
  <label for="john">John</label>
  <input type="checkbox" id="mike" value="Mike" v-model="checkedText">
  <label for="mike">Mike</label>
  <br>
  <span>Checked names: {{ checkedText }}</span>
  
  
  <!-- 选择框 -->
  </br></br></br>
  
  <select v-model="selected">
    <option disabled value="">请选择</option>
    <option value="A">A</option>
	<option value="B">B</option>
	<option value="C">C</option>
	<option value="D">D</option>
  </select>
  </br>
  <span>Selected： {{selected}}</span>
  </br></br></br></br></br>
  
  <!-- 使用 'v-for' 渲染选择框 -->
  <select v-model="selected">
    <option v-for="option in options" :value="option.Value" :key="option.Text">
	  {{option.Text}}
	</option>
  </select>
  </br>
  <span>Selected: {{selected}}</span>
  
  
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>

var app = new Vue({
  el: '#example-container',
  data: {
    message: '',
	checkedText: [],    //多选框选中值
	selected: '',  //选择框选中值
	options: [
	  {Text: 'One', Value: 'One'},
	  {Text: 'Two', Value: 'Two'},
	  {Text: 'Three', Value: 'Three'},
	  {Text: 'Four', Value: 'Four'},
	]
  }
})

</script>

</body>
</html>

